# .env.example – plantillas para el proyecto
FIREBASE_TOKEN="YOUR_FIREBASE_CI_TOKEN"
FASTAPI_API_KEY="YOUR_FASTAPI_SECRET"
MODEL_API_KEY="YOUR_LLM_API_KEY"
GCLOUD_PROJECT="YOUR_GCLOUD_PROJECT_ID"
GCLOUD_REGION="us-central1"
